<!DOCTYPE html>
<html>
  <head>
    <title>A or B ?</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
  </head>
  <body>
    <h1><span class="text-red">A</span> or <span class="text-blue">B</span> ?</h1>
    {{#if admin}}
    <div class="post-box">
      <div class="post-box-input-wrap">
        <input
          type="text"
          maxlength="１０"
          id="js-text-send"
          class="post-box-input"
        />
        <div class="post-box-input-count">
          (<span id="js-text-count">0</span>/140文字)
        </div>
      </div>
      <div>
        <input
          type="button"
          value="送信"
          id="js-btn-send"
          class="post-button"
        />
      </div>
    </div>
    <div class="delete-box">
      <button id="js-btn-delete" class="delete-button">全削除</button>
    </div>
    {{/if}}

    <div id="js-list" class="post-list"></div>

    {{#if error}}
    <p class="error">
      {{error}}
    </p>
    {{else}}

    <script>
      let data = {
        choiceData: {
          {{#each choiceData}}
            {{this.id}}: '{{this.text}}'{{#if @last}}{{else}},{{/if}}
          {{/each}}
        }
      };
      window.data = data;
    </script>
    {{/if}}
  </body>
</html>
